.car {
    flex: 4;
    padding: 20px;
}

.carTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
.carSelectDateButton {
    width: 100px;
    border: none;
    padding: 5px;
    background-color: #b91010;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.carContainer {
    display: flex;
    margin-top: 20px;
}

.carShow {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.carUpdate {
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
}

.carShowTop {
    display: flex;
    align-items: center;
}

.carShowImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.carShowTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.carShowUsername {
    font-weight: 600;
}
.carShowUsernamecarShowUserTitle {
    font-weight: 300;
}

.carShowBottom{
    margin-top: 20px;
}

.carShowTitle {
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
}

.carShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.carShowIcon{
    font-size: 16px !important;
}

.carShowInfoTitle{
    margin-left: 10px;
}

.carUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}

.carUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.carUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.carUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.carUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.carUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carUpdateUpload{
    display: flex;
    align-items: center;
}

.carUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.carUpdateIcon{
    cursor: pointer;
}

.carUpdateButton{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}
input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #f0f4f8;
}
.no-outline:focus {
    outline: none;
}